<article 
<% if ( !responseTo ) { %>
	class="reactions__first-order"
<% } else { %>
	class="reactions__second-order"
<% } %>
>
	<header class="reactions__header">
		<img class="reactions__header--image" src="/images/boat.svg" alt="Foto van een schip">
		<p class="reactions__header--name"><%= name %></p>
		<time datetime="<%= datetime %>" class="reactions__header--date"><%= time %></time>
	</header>
	<p class="reactions__reaction"><%= reaction %></p>
	<form class="reactions__send" action="/detail/<%= storyID %>/comment/<%= id %>" method="post">
		<textarea name="reaction" id="reaction" pattern="[\s\S]*" placeholder="Uw reactie"></textarea>
		<div>
			<input type="text" name="name" pattern="[\s\S]*" placeholder="Uw naam">
			<button type="submit" class="button--primary">Reageren op deze reactie</button>
		</div>
	</form>
</article>

