<article class="container--main detail__content--container">
	<% include ../detailContentContainers/contentTags.ejs %>

	<% if ( story.content.length ) { %>

		<% story.content.forEach( function( el ) { %>

			<% if ( el.type === 'title/h2' ) { %>

				<%- include( './components/detailContentContainers/contentTitle.ejs', { title: el.text } ) %>

			<% } else if ( el.type === 'text' ) { %>

				<%- include( './components/detailContentContainers/contentParagraph.ejs', { text: el.text } ) %>

			<% } else if ( el.type === 'videolink/youtube' ) { %>

				<%- include( './components/detailContentContainers/contentVideoYoutube.ejs', { ID: el.text } ) %>

			<% } else if ( el.type === 'image/jpeg' || el.type === 'image/jpg' || el.type === 'image/png' || el.type === 'image/gif' ) { %>

				<%- include( './components/detailContentContainers/contentImage.ejs', { image: el.link } ) %>

			<% } else if ( el.type === 'audio/mpeg' || el.type === 'audio/x-wav' ) { %>

				<%- include( './components/detailContentContainers/contentAudio.ejs', { audio: el.link, type: el.type } ) %>

			<% } %>

		<% } ) %>

	<% } else { %>
		<h1 class="title__underline--red stories--title"><span class="underline-red">This</span> <span>story appears to be empty</span></h1>
	<% } %>
	
</article>
